name: Coverage

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  coverage:
    name: Check coverage
    runs-on: ubuntu-latest
    steps:
      - name: Install gettext
        run: |
          sudo apt-get update && sudo apt-get install -y gettext

      - name: Check out
        uses: actions/checkout@v5

      - uses: snok/install-poetry@v1
        with:
          version: 1.3.2
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: poetry

      - name: Install requirements
        run: poetry install

      - name: Run tests
        run: poetry run coverage run -m pytest --cov=fakemessages --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
